<Page xmlns="http://schemas.nativescript.org/tns.xsd" backgroundColor="lightgray">
  <Page.ActionBar>
    <ActionBar title="create">
      <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="center">
        <Label text="Kardigan" class="kaushanScript"></Label>
      </StackLayout>
    </ActionBar>
  </Page.ActionBar>

  <FlexboxLayout flexDirection="column" justifyContent="space-between">
    <StackLayout height="190" width="100" backgroundColor="white" class="first">
    </StackLayout>



    <StackLayout height="100" width="300">
        <WrapLayout width="90%" height="100%" justifyContent="space-around">
      <Button text="Design" (tap)="choice = 'design'" class="btn btn-primary btn-active" backgroundColor="salmon"></Button>
      <Button text="Color" (tap)="choice = 'color'" class="btn btn-primary btn-active" backgroundColor="salmon"></Button>
      <Button text="Text" (tap)="choice = 'text'" class="btn btn-primary btn-active" backgroundColor="salmon"></Button>
    </WrapLayout>
    </StackLayout>



    <StackLayout height="200" backgroundColor="salmon" stretchLastChild="false">
    <WrapLayout width="90%" height="100%" justifyContent="space-around">
     <ns-design *ngIf="choice === 'design'"></ns-design>
     <ns-color *ngIf="choice === 'color'"></ns-color>
     <ns-text *ngIf="choice === 'text'"></ns-text>

    </WrapLayout>
    </StackLayout>
  </FlexboxLayout>
</Page>