/* Add mobile styles for the component here.  */
.action-label {
    font-family: "KaushanScript-Regular";
    font-size: 30;
    font-weight: bold;
}
ActionBar {
    background-color: salmon;
}
.first {
    margin: 30;
}
Button {
    color: white;
    margin: 10;
}
