
    <Button text="Color 1" tap="onTap" class="btn btn-primary btn-active"></Button>
    <Button text="Color 2" tap="onTap" class="btn btn-primary btn-active"></Button>
    <Button text="Color 3" tap="onTap" class="btn btn-primary btn-active"></Button>
    <Button text="Color 4" tap="onTap" class="btn btn-primary btn-active"></Button>
    <Button text="Color 5" tap="onTap" class="btn btn-primary btn-active"></Button>
    <Button text="Color 6" tap="onTap" class="btn btn-primary btn-active"></Button>
