<Button text="Text 1" tap="onTap" class="btn btn-primary btn-active"></Button>
<Button text="Text 2" tap="onTap" class="btn btn-primary btn-active"></Button>
<Button text="Text 3" tap="onTap" class="btn btn-primary btn-active"></Button>
<Button text="Text 4" tap="onTap" class="btn btn-primary btn-active"></Button>
<Button text="Text 5" tap="onTap" class="btn btn-primary btn-active"></Button>
<Button text="Text 6" tap="onTap" class="btn btn-primary btn-active"></Button>