
    <Button text="Design 1" tap="onTap" class="btn btn-primary btn-active"></Button>
    <Button text="Design 2" tap="onTap" class="btn btn-primary btn-active"></Button>
    <Button text="Design 3" tap="onTap" class="btn btn-primary btn-active"></Button>
    <Button text="Design 4" tap="onTap" class="btn btn-primary btn-active"></Button>
    <Button text="Design 5" tap="onTap" class="btn btn-primary btn-active"></Button>
    <Button text="Design 6" tap="onTap" class="btn btn-primary btn-active"></Button>
